.welcome {
    background-color: var(--background__color__artgallery);
    padding: 50px 0;
}

.container,
.welcome__additional-container {
    height: 100%;
}

.welcome__additional-container {
    position: relative;
}

.welcome__salutation {
    color: var(--poor__white__color);
    font-family: 'Antic Didone', serif;
    font-size: var(--small-size);
    font-weight: 200;
    letter-spacing: 1.2px;
}

.welcome__title {
    color: var(--white__color);
    font-family: 'Bacasime Antique', serif;
    font-size: var(--block-title-size);
    font-weight: 100;
    line-height: 40px;
    margin-top: 30px;
}

.welcome__title span {
    display: block;
}

.welcome__image-girl,
.welcome__image-octagram {
    width: 70%;
}

.welcome__image-vertical-lines {
    position: absolute;
    height: 60vw;
    width: auto;
    top: calc(239px + (((100vw - 48px) * 0.7 / 0.75) - 60vw)/2);
    left: calc(85%);
}

.welcome__title--yellow {
    color: var(--title__color__higlight);
    display: block;
    font-size: var(--hero-title-size);
    line-height: 124%;
    font-style: italic;
}

.welcome__description {
    color: var(--semi-transparent-white);
    font-weight: 200;
    text-align: justify;
    margin: 30px 0;
}

.welcome__description--italic {
    color: rgba(255, 255, 255, 0.33);
    font-style: italic;
}

.welcome__description--bold {
    font-weight: 900;
}

.welcome__feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.welcome__feature-number {
    color: var(--white__color);
    font-family: "Antic Didone", serif;
    font-size: var(--small-size);
    font-weight: 400;
}

.welcome__feature-title {
    color: var(--title__color__higlight);
    font-size: var(--heading-size);
    font-weight: 400;
}

.welcome__feature-description {
    color: var(--semi-transparent-white);
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

.welcome__image-forest-work {
    margin: 0 auto;
    width: 90%;
}

.welcome__flex-wrapper {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.welcome__image-octagram {
    width: 30px;
    margin-right: 10px;
}

.welcome__events-link {
    color: var(--poor__white__color);
    text-decoration: none;
}

@media (min-width: 768px) {
    .welcome {
        aspect-ratio: 75 / 100;
    }

    .welcome__additional-container {
        position: relative;
    }

    .welcome__salutation {
        position: absolute;
        font-size: var(--small-size);
        left: calc(40% + 44px);
        top: 0px;
    }

    .welcome__title {
        margin: 0;
        padding: 0;
    }

    .welcome__title--yellow {
        font-size: var(--hero-title-size-tablet);
    }

    .welcome__image-girl {
        top: 0px;
        position: absolute;
        width: 40%;
        left: 0px;
        max-width: 350px;
    }

    .welcome__description {
        margin: 0;
        font-family: "Work Sans", sans-serif;
    }

    .welcome__description--regular,
    .welcome__description--bold,
    .welcome__description--italic {
        width: 45%;
        position: absolute;
        margin: 0;
        font-size: var(--caption-size);
    }

    .welcome__description--regular {
        right: 30px;
        top: calc(40vw * 1.3 + 40px);
    }

    .welcome__description--bold {
        width: 40%;
    }

    .welcome__description--italic {
        width: 46%;
        text-align: justify;
    }

    .welcome__feature-title {
        font-size: var(--heading-size-tablet);
    }

    .welcome__feature-description {
        font-size: var(--caption-size);
    }

    .welcome__image-forest-work {
        width: 40%;
        position: absolute;
        bottom: 0;
        left: calc((100vw - 48px) / 2 - (100vw - 48px) / 2 * 0.4 + (100vw - 48px) / 4);
    }

    .welcome__image-vertical-lines {
        display: none;
    }

    .welcome__features {
        display: grid;
        bottom: 0;
        position: absolute;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 27vw 25vw;
    }

    .welcome__feature:nth-child(odd) {
        padding-right: 10%;
    }

    .welcome__image-octagram {
        position: absolute;
        width: 33px;
        margin: 0px;
    }

    @media (min-width: 900px) {
        .welcome__feature-description {
            font-size: var(--text-size);
        }
    }

    @media (min-width: 923px) {
        .welcome__title {
            position: absolute;
            font-size: var(--block-title-size-tablet);
            left: calc(350px + 44px);
            top: calc((467px - 215px) / 2);
        }

        .welcome__description--italic {
            left: calc(350px + 44px);
            top: calc(467px - 33px);
        }

        @media (max-width: 991px) {
            .welcome__image-octagram {
                left: calc(86% + 65px);
                top: calc(467px - 47px);
            }
        }


        .welcome__description--bold {
            top: 520px;
            max-width: 350px;
        }

        .welcome__description--regular {
            top: 520px;
        }
    }

    @media (max-width: 923px) {
        .welcome__title {
            position: absolute;
            top: calc((((100vw - 48px) * 0.4 * 1.34 - 215px) / 2));
            left: calc(40% + 44px);
        }

        .welcome__description--italic {
            left: calc(40% + 44px);
            top: calc((((100vw - 48px) * 0.4 * 1.34 - 49.5px)));
        }

        .welcome__image-octagram {
            left: calc(86% + 65px);
            top: calc((((100vw - 48px) * 0.4 * 1.34 - 47px)));
        }

        .welcome__description--bold {
            top: calc(40vw * 1.3 + 40px);
        }

        .welcome__description--regular {
            top: calc(40vw * 1.3 + 40px);
        }
    }

    @media (min-width: 992px) {

        .welcome {
            margin: auto;
            aspect-ratio: 90 / 100;
            max-width: 1200px;
        }

        .welcome__features {
            display: block;
        }

        .welcome__salutation {
            left: 0;
        }

        .welcome__image-girl {
            left: 22%;
            top: 80px;
        }

        .welcome__title {
            left: 22%;
            line-height: 95%;
            top: 0;
        }


        .welcome__image-forest-work {
            left: 0;
            position: absolute;
        }

        .welcome__title span:nth-child(1) {
            display: inline;
        }

        .welcome__title span:nth-child(2) {
            display: inline;
        }

        .welcome__title--yellow {
            padding-left: 330px;
            font-size: 90px;
        }

        .welcome__description--bold,
        .welcome__description--regular {
            margin-left: 50px;
            left: calc(22% + 350px);
            max-width: 380px;
            width: 33%;
            line-height: 140%;
            word-spacing: 150%;
        }

        .welcome__description--bold {
            top: 240px;
        }

        .welcome__description--regular {
            top: 380px;
        }

        .welcome__description--italic {
            top: 430px;
            width: 22%;
            left: 0;
            line-height: 140%;
            padding-right: 40px;
        }

        .welcome__image-forest-work {
            bottom: 0;
            left: 9%;
            width: 34%;
            max-width: 450px;
        }

        .welcome__features {
            height: calc(100% - 550px);
            width: 100%;
            min-height: 350px;
        }

        .welcome__feature {
            position: absolute;
        }

        .welcome__feature-description {
            font-size: var(--caption-size);
        }

        .welcome__feature:nth-child(1) {
            left: 22%;
            top: calc(14%);
            width: 30%;
            padding: 0;
        }

        .welcome__feature:nth-child(2) {
            right: 5%;
            top: 5%;
            width: 30%;
            padding: 0;
        }

        .welcome__feature:nth-child(3) {
            right: 14%;
            bottom: calc(20% + 20px);
            width: 30%;
            padding: 0;
        }

        .welcome__events-link {
            right: 30%;
            bottom: calc(2% + 17px);
            position: absolute;
        }

        .welcome__image-octagram {
            right: 41%;
            bottom: 2%;
            height: 50px;
        }
    }
}