
.embrace__container {
    padding: 20px;
    max-width: 1200px;
}

.titles__welcome {
    font-size: var(--heading-size);
    font-family: 'Bacasime Antique', serif;
    color: var(--title__color__higlight);
    font-weight: 400;

}

.titles__explore {
    margin-top: 10px;
}

.titles__explore, .gateway__span {
    font-size: var(--caption-size);
    font-family: 'Work Sans', sans-serif;
    color: var(--descriptive__color) ;
    font-style: italic;
}

.gateway__span {
    display: block;

    margin: 20px 0;
}

@media(max-width: 768px) {
    .embrace__welcome--star {
        display: none;
    }

    .embrace__renaissance {
        margin-top: 30px;
    }
}

.titles__embrace {
    font-family: 'Bacasime Antique', sans-serif;
    font-size: var(--block-title-size);
    font-weight: 400;
    color: var(--title__color__higlight);
}

.titles__embrace p {
    display: inline;
}

.embrace__where-art {
    font-family: 'Bacasime Antique', sans-serif;
    font-size: var(--block-title-size);
    font-weight: 400;
    color: var(--title__color__higlight);
}

.embrace__stroke {
    height: 6px;
    width: 200px;
    margin: 40px 0;
}

.embrace__time-ignites {
    font-family: 'Bacasime Antique', sans-serif;
    font-size: var(--block-title-size);
    font-weight: 400;
    color: var(--title__color);
}

.embrace__soul{
    font-family: 'Bacasime Antique', sans-serif;
    font-size: var(--block-title-size);
    font-weight: 400;
    color: var(--title__color__higlight);
}

.embrace__invite--wrapper, .embrace__passion--wrapper {
    text-align:justify;
    width: 98%;
    align-self: center;
}

.embrace__invite--span, .embrace__span-passion {
    font-size: var(--text-size);
    font-weight: 400;
    color: var(--descriptive__color__hilight);
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

.gateway__paragraph {
    font-size: var(--heading-size);
    font-family: 'Bacasime Antique', serif;
    color: var(--title__color);
    display: block;
    margin: 20px 0;
}

.embrace__illustration--wrapper {
    display: flex;
    justify-content: center;
}
.embrace__illustration {
    max-width: 100%;
}

.embrace__illustration, .embrace__star {
    width: 300px;
}

.embrace__gateway {
    margin-top: 40px;
}

.eternal__description-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eternal__description{
    color: var(--semi-transparent-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--text-size);
}
