.eternal{
    padding: 25px;
}

.eternal__header,
.eternal__sub-header {
    color: var(--title__color__higlight);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--quote-size);
    font-size: 9vh;
}

.eternal__header-container {
    display: block;
    width: 100%;
    height: 110px;
}

.eternal__header {
    margin-bottom: -7.5vw;
}

.eternal__sub-header {
    margin-left: 37vw;
}

.eternal__image {
    margin-top: -45px; 
    margin-bottom: 9px;
    padding: 0 40px 0 0;
    min-height: 267px;
    min-width: 231px;
    max-width: 606px;
    width: 83%
    
}

.eternal__section-header{
    display:block;
    text-align: left;
    min-width: 219px;
    color: var(--white__color);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--block-title-size-tablet);
    font-size: 40px;
    margin-left: -40px;
    margin-bottom: -10px;
    scale: 0.75;
}

.eternal__sub-section{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 20px;
}

.eternal__arrow {
    width: 15px;
    margin: auto 15px;
}

.eternal__sub-section-header{
    color: var(--white__color);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--block-title-size-tablet);
    font-size: 31px;
    scale: 0.95;
}

.eternal__creative-span{
    color: var(--title__color);
}

.eternal__description{
    color: var(--semi-transparent-white);
    font-family: 'Work Sans', sans-serif;
    font-weight: var(--text-size);
    font-size: 13px;
    line-height: 20px;
    text-align: justify;

}

.eternal__divider-conteiner{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px 0 55px 0;
}

.eternal__divider{
    width: 163px;
    margin: 15px 0 15px 0;
}

.eternal__date-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.eternal__date{
    color: var(--title__color);
    font-family: 'Work Sans', sans-serif;
    font-weight: var(--text-size);
    font-size: 11px;
}

.eternal__learn-more{
    text-decoration: none;
    color: var(--white__color);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--text-size);
    font-size: 11px;
    text-transform: uppercase;
}

.eternal__image-man{
    min-height: 121px;
}

@media (max-width:767px){
    .eternal__arrow768{
        display: none;
    }
    } 
    
@media (min-width:768px){
    .eternal__image{
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: 458px;
    }
    .eternal__header-container{
        display: flex;
    }
    .eternal__header {
        margin-bottom: 0;
    }
    .eternal__sub-header {
        margin-left: 5vw;
    }
    .eternal__header,
    .eternal__sub-header {
        font: var(--quote-size-tablet) "Bacasime Antique", serif;
    }
    .eternal__section-header{
        width: 280px;
        font: var(--block-title-size-tablet) "Bacasime Antique", serif;
        scale: 1;
        margin: 0;
    }
    .eternal__sub-section-header{
        font: var(--block-title-size-tablet) "Bacasime Antique", serif;
        scale: 1;
        width: 320px;
    }
    .eternal__sub-section{
        display: block;
    }
    .eternal__description{
        font : var(--text-size) 'Work Sans', sans-serif;
        width: 278px;
    }
    .eternal__vision-photo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .eternal__image {
        order: 2;
      }
      
    .eternal__vision {
        order: 1;
      }
    .eternal__arrow{
        display: none;
    }
    .eternal__arrow768{
        width: 20px;
        margin: 15px;
    }
    .eternal__divider{
        width: 253px;
    }
}











