.eternal{
    padding: 25px;
}

.eternal__header,
.eternal__sub-header {
    color: var(--title__color__higlight);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--quote-size);
    font-size: 9vh;

}

.eternal__header-container {
    display: block;
    width: 100%;
}

.eternal__header {
    /* margin-bottom: -25px; */
    margin-bottom: -7.5vw;
}

.eternal__sub-header {
    /* margin-left: 110px; */
    margin-left: 37vw;
}

.eternal__image {
    margin-top: -45px; 
    margin-bottom: 9px;
    min-height: 267px;
    min-width: 231px;
    max-width: 606px;
    width: 83%
    
}

.eternal__section-header{
    display:block;
    text-align: left;
    min-width: 219px;
    color: var(--white__color);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--block-title-size-tablet);
    font-size: 40px;
    margin-left: -40px;
    margin-bottom: -10px;
    scale: 0.75;
}

.eternal__sub-section{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 20px;
}

.eternal__arrow {
    width: 15px;
    margin: auto 15px;
}

.eternal__sub-section-header{
    color: var(--white__color);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--block-title-size-tablet);
    font-size: 31px;
    scale: 0.95;
}

.eternal__creative-span{
    color: var(--title__color);
}

.eternal__description{
    color: var(--semi-transparent-white);
    font-family: 'Work Sans', sans-serif;
    font-weight: var(--text-size);
    font-size: 13px;
    line-height: 20px;
    text-align: justify;

}

.eternal__divider-conteiner{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px 0 55px 0;
}

.eternal__divider{
    width: 163px;
    margin: 15px 0 15px 0;
}

.eternal__date-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.eternal__date{
    color: var(--title__color);
    font-family: 'Work Sans', sans-serif;
    font-weight: var(--text-size);
    font-size: 11px;
}

.eternal__learn-more{
    text-decoration: none;
    color: var(--white__color);
    font-family: "Bacasime Antique", serif;
    font-weight: var(--text-size);
    font-size: 11px;
    text-transform: uppercase;
}

.eternal__image-man{
    min-height: 121px;
}



@media (min-width:768px){
    .eternal__image{
        max-width: 410px;
        /* max-height: 480px; */
    }
}







