.religious {
    background-color: var(--background__color__home);
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
}

.religious__title,
.religious__title-second {
    color: var(--title__color__higlight);
    font-family: 'Bacasime Antique', serif;
    font-size: 40px;
    font-weight: normal;
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.religious__artist-title {
    border-width: 80px;
    color: var(--poor__white__color);
    font-family: 'Bacasime Antique', serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 15px;
}

.religious__painting-title {
    color: var(--title__color);
    font-family: 'Bacasime Antique', serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.religious__description {
    color: var(--descriptive__color__hilight);
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
    letter-spacing: normal;
}

.religious__cta {
    color: var(--title__color__higlight);
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: underline;
}

.religious__subtitle {
    color: var(--white__color);
    font-family: 'Bacasime Antique', serif;
    font-size: 35px;
}

.religious__event-date {
    color: var(--white__color);
    font-family: 'Bacasime Antique', serif;
    font-style: normal;
    font-size: 70px;
}

.religious__addition-to-title {
    color: var(--poor__white__color);
    font-family: 'Antic Didone', serif;
    font-style: normal;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.religious__quote {
    color: var(--descriptive__color);
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    vertical-align: baseline;
}

@media (min-width: 320px) and (max-width: 767px) {
    .religious {
        align-items: center;
    }

    .religious__content-block-first {
        display: flex;
        flex-direction: column;
    }

    .religious__content-block-3 {
        order: 1;
    }

    .religious__image-first {
        order: 2;
        justify-content: center;
        min-width: 220px;
        max-width: 550px;
    }

    .religious__content-block-2 {
        min-width: 200px;
        max-width: 560px;
    }

    .religious__content-block-second {
        display: flex;
        flex-direction: column;
    }

    .religious__title-second {
        max-width: 470px;
        text-align: center;
    }

    .religious__image-second {
        min-width: 250px;
        order: 1;
    }

    .religious__event-date {
        font-size: 40px;
        position: absolute;
        right: 7px;
        margin-top: -45px;
    }

    .religious__content-block-4 {
        order: 2;
    }

    .religious__event-date {
        z-index: 1;
        position: absolute;
    }
}

.religious__content-block-second {
    display: flex;
}

.religious__image-second {
    order: 1;
}

.religious__content-block-4 {
    order: 2;
    flex: 1;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .religious__content-block-first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        flex-wrap: wrap;
    }

    .religious__content-block-1,
    .religious__content-block-3 {
        margin: 10px;
        min-width: 300px;
        max-width: 340px;
        flex-direction: column;
        order: 1;
        flex: 1;
    }

    .religious__image-first {
        min-width: 320px;
        max-width: 360px;
        order: 2;
    }

    .religious__title-second {
        max-width: 500px;
        text-align: start;
    }

    .religious__image-second {
        max-width: 480px;
    }

    .religious__event-date {
        font-size: 65px;
        position: absolute;
        margin-top: -40px;
    }

    .religious__content-block-second {
        flex-direction: row;
    }

    .religious__content-block-4 {
        margin: 10px;
        min-width: 340px;
    }
}

@media (min-width: 992px) {
    .religious__content-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .religious__content-block-first {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .religious__content-block-1,
    .religious__content-block-3 {
        max-width: 300px;
    }

    .religious__content-block-1 {
        margin-top: 150px;
    }

    .religious__content-block-3 {
        margin-top: -400px;
    }

    .religious__image-first {
        max-width: 300px;
    }

    .religious__title {
        font-size: 60px;
    }

    .religious__description {
        padding-right: 10px;
        padding-bottom: -20px;
        margin-top: 20px;
    }

    .religious__title-second {
        text-align: start;
    }

    .religious__content-block-second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px;
    }

    .religious__title-second {
        grid-column: span 2;
        display: inline-block;
        max-width: 500px;
    }

    .religious__image-second {
        grid-column: 1;
        max-width: 400px;
        position: absolute;
        left: 130px;
        z-index: 0;    
    }

    .religious__event-date {
        z-index: 1;
        position: absolute;
        left: 70px;
        margin-top: 35px;
    }

    .religious__content-block-4 {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 380px;
    }   
}    