.location {
    background-color: var(--background__color__location);
}

/* html {
    font-size: 10px;
  } */

.location__head {
    width: 320px;
    height: 137.038;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0px 90px 0px;
}

.location__main__title {
    color: var(--title__color__higlight);
    text-align: center;
    font-family: 'Bacasime Antique', serif;
    box-sizing: border-box;
    font-size: var(--block-title-size);
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .location__main__title {
      font-size: 40px;
    }
  }

@media screen and (min-width: 769px) and (max-width: 990px) {
    .location__main__title {
      font-size: 51px;
    }
  }

@media screen and (min-width: 991px) {
    .location__main__title {
      font-size: 62px;
    }
  }

.location__image-container {
    margin-top: 25px;
    margin-bottom: 20px;
}

.location__img__star {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.location__titles {
    color: var(--title__color__higlight);
    font-size: var(--heading-size);
    font-family: 'Bacasime Antique', serif
}

.location__subtitles {
    color: var(--white__color);
    font-size: var(--text-size);
    font-family: "Work Sans", sans-serif;
}

.location__current-position {
    color: var(--white__color);
    font-family: 'Antic Didone', serif;
    font-size: var(--small-size);
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    word-spacing: 2px;
}

.location__links a {
    font-family: "Work Sans", sans-serif;
    font-size: var(--text-size);
    text-decoration: none;
    color: var(--white__color);
}

.booking__field__title {
    text-align: center;
    color: var(--title__color__higlight);
    font-size: 1.2rem;
    font-family: 'Bacasime Antique', serif
}

.booking__field {
    clear:both; 
    text-align: center;
}

.booking__field__data {
    clear:both; 
    text-align: center;
}

.booking__button {
    text-align: center;
}

.location__map {
    width: 100%;
}

.location__img {
    display: flex;
    justify-content: center;
}

.location__booking__field, .location__map {
    position: relative;
}

.location__booking__field {
    top: -200px;
    width: 400px;
    background-color: var(--background__color__location);
    margin-left: auto;
    margin-right: auto;
}