.location {
    background-color: var(--background__color__location);
}

.location__head {
    min-width: 320px;
    background-color: var(--background__color__footer);
}

.location__head__field {
    min-width: 272px;
    height: 137.038;
    margin-left: auto;
    margin-right: auto;
}

.location__header-field {
    min-width: 312px;
}

.location__main__title {
    color: var(--title__color__higlight);
    text-align: center;
    font-family: 'Bacasime Antique', serif;
    box-sizing: border-box;
    font-size: var(--block-title-size);
    font-weight: 100;
}

.location__header {
    
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 336px) {
    .location__main__title {
        font-size: 40px;
    }
    .location__titles {
        font-size: 24px;
    }
    .location__head {
        padding: 60px 0px 90px 0px;
    }
    .location__head__field {
        padding: 0px 24px 0px 24px;
    }
    .location__header {
        padding: 100px 4px 100px 4px;
    }
    .location__gallery {
        padding: 0px 20px 0px 20px;
    }
    .location_contacts {
        padding: 0px 20px 0px 20px;
        height: 417.2px;
        margin-top: 80px;
        display: block;
    }
    .location__main {
        height: 1175.44px;
    }
    .location__header-field {
        height: 677.45px;
    }
    .location__booking__field, .location__map {
        position: relative;
    }
    .location__booking__field {
        top: -50%;
        height: 472.4px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .booking__field-section {
        height: 352px;
        margin-left: 39px;
        margin-right: 39px;
    }
}

@media screen and (min-width: 337px) and (max-width: 768px) {
    .location__main__title {
        font-size: 40px;
    }
    .location__titles {
        font-size: 24px;
    }
    .location__head {
        padding: 60px 0px 90px 0px;
    }
    .location__head__field {
        padding: 0px 24px 0px 24px;
    }
    .location__header {
        padding: 100px 4px 100px 4px;
    }
    .location__header-field {
        min-height: 677.45px;
        height: auto;
    }
    .location__gallery {
        padding: 0px 20px 0px 20px;
    }
    .location_contacts {
        padding: 0px 20px 0px 20px;
        height: 417.2px;
        margin-top: 80px;
        display: block;
        object-fit: scale-down;
    }
    .location__main {
        height: 1175.44px;
    }
    .location__booking__field {
        top: -50%;
        height: 472.4px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .booking__field-section {
        height: 352px;
        margin-left: 39px;
        margin-right: 39px;
    }
  }

@media screen and (min-width: 769px) and (max-width: 990px) {
    .location__main__title {
        font-size: 51px;
    }
    .location__titles {
        font-size: 28px;
    }
    .location__head {
        padding: 60px 0px 95px 0px;
    }
    .location__head__field {
        padding: 0px 32px 0px 32px;
    }
    .location__header {
        padding: 90px 12px 90px 12px;
    }
    .location__gallery {
        padding: 0px 40px 0px 40px;
        float: left;
    }

    .location_contacts {
        padding: 0px 40px 0px 40px;
        height: 454.2px;
        margin-top: 0px;
        float: right;
        display: block;
        object-fit: scale-down;
    }
    .location__header-field {
        width: 100%;
        min-height: 454.2px;
    }
    .location__header-field .location__gallery{
        width: 66%;
        height: 100%;
    }
    .location__header-field .location_contacts{
        width: 34%;
        height: 100%;
    }
    .location__main {
        height: 1195.84px;
    }
    .location__booking__field {
        top: -50%;
        height: 482.8px;
        margin-left: 32%;
        margin-right: 32%;
    }
    .booking__field-section {
        height: 352px;
        margin-left: 39px;
        margin-right: 39px;
    }
  }

@media screen and (min-width: 991px) {
    .location__main__title {
        font-size: 62px;
    }
    .location__titles {
        font-size: 32px;
    }
    .location__head {
        padding: 60px 0px 100px 0px;
    }
    .location__head__field {
        padding: 0px 40px 0px 40px;
    }
    .location__header {
        padding: 150px 20px 150px 20px;
    }
    .location__gallery {
        padding: 0px 40px 0px 40px;
        float: left;
    }
    .location_contacts {
        padding: 0px 40px 0px 40px;
        min-width: 443.6px;
        height: 100%;
        margin-top: 0px;
        float: right;
        display: block;
        object-fit: scale-down;
    }
    .location__header-field {
        min-height: 443.6px;
        height: auto;
        object-fit: scale-down;
        display: flex;
    }
    .location__header-field .location__gallery{
        width: 66%;
        height: auto;
        max-height: 100%;
    }
    .location__header-field .location_contacts{
        width: 34%;
        height: auto;
        max-height: 100%;
    }
    .location__main {
        height: 760px;
    }
    .location__booking__field {
        top:-629.6px;
        width: 370px;
        height: 499.2px;
        margin-left: 40px;
        margin-right: 40px;
        margin-left: auto;
    }
    .booking__field-section {
        width: 250px;
        height: 352px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  
img {
    display: block;
    width: 100%;
    object-fit: scale-down;
}

.location__image-container {
    margin-top: 25px;
    margin-bottom: 20px;
}

.location__img__star {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.location__img__gallery {
    max-height: 100%;
}

.location__titles {
    color: var(--title__color__higlight);
    font-size: auto;
    font-family: 'Bacasime Antique', serif;
    box-sizing: border-box;
    margin-top: 20px;
    word-spacing: 2px;
    font-weight: 100;
}

.location__subtitles {
    color: var(--white__color);
    font-size: var(--text-size);
    font-family: "Work Sans", sans-serif;
    margin-top: 20px;
    line-height: 25px;
    word-spacing: 2px;
}

.location__current-position {
    color: var(--white__color);
    font-family: 'Antic Didone', serif;
    font-size: var(--small-size);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 27px;
    word-spacing: 2px;
}

.location__links__field {
    margin-top: 20px;
    word-spacing: 2px;
}

.location__links a {
    font-family: "Work Sans", sans-serif;
    font-size: var(--text-size);
    text-decoration: none;
    color: var(--white__color);
}

.booking__field__title {
    text-align: center;
    padding-top: 10px;
}

.booking__field {
    clear:both; 
    text-align: center;
}

.booking__field__data {
    clear:both; 
    text-align: center;
}

.booking__button {
    text-align: center;
}

.location__map {
    width: 100%;
    height: 100%;
    filter: grayscale(100%) invert(100%) invert(11%) sepia(17%) saturate(14%) hue-rotate(3deg) brightness(98%) contrast(95%);
}

.location__img {
    display: flex;
    justify-content: center;
}

.location__booking__field, #map {
    position: relative;
}

.location__booking__field {
    min-width: 272px;
    background-color: var(--background__color__location);
}

input[type="text"] {
    border: 0px solid #34291C;
    background: #34291C !important;
    outline: none;
    width: 100%;
    /* min-width: 194px; */
    height: 16,8px;
    color: #847b6e;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    padding: 14px 20px 14px 20px;
    margin-top: 24px;
    /* margin-left: 32%;
    margin-right: 32%; */
    margin-left: auto;
    margin-right: auto;
 }

/* .data__button {
    display: block; 
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    font-weight: bold; 
    background: #34291C;
    padding: 14px 20px 14px 20px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border: none; 
    cursor: pointer;  
}

.data__text {
    color: #847b6e;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    float: left;
} */

/* .location_data-img {
    width: 24px;
    filter: invert(50%) sepia(12%) saturate(396%) hue-rotate(356deg) brightness(95%) contrast(88%);
    float: right;
} */

input[type="date"]:not(.has-value):before {
    content: attr(placeholder);
    width: 100%;
  }
  
input[type="date"] {
    border: 0px solid #34291C;
    background: #34291C !important;
    outline: none;
    width: 100%;
    height: 16,8px;
    color: #847b6e;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    padding: 14px 20px 14px 20px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; 
  }

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(../img/date.svg) no-repeat center;
    transform: scale(1.5);
    filter: invert(50%) sepia(12%) saturate(396%) hue-rotate(356deg) brightness(95%) contrast(88%);
    background-size: contain;
  }

.booking__field-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.booking__button {
    display: block; 
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    font-weight: bold; 
    color: white; 
    font-family: "Work Sans", sans-serif;
    background-color: #eab156;
    border: none; 
    cursor: pointer;  
    position: absolute;
    bottom: 0; 
}

.booking__button:hover {
    background-color:#9F7647;
    transition-delay: 0s;
    transition-duration: 0.2s;
}