.beauty__title {
    font-size: 45px;
    color: var(--title__color__higlight);
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    bottom: -30px;
    z-index: 1;
}

.unlock-renaissance{
    padding: 0px 20px;

}
.logo-container {
    display: grid;
    justify-content: center;
}
.star-logo {
    max-width: 16px;
    max-height: 16px;
    margin-top: 20px;
}

.queen-button-guide {
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 0;
    display: grid;
    grid-template-rows: 1fr 10px;
    justify-content: center;

}

.play-button {
    max-width: 40px;
    max-height: 40px;
    
}
.button-guide {
    z-index: 1;
    position: relative;
    bottom: 130px;
    left: -15px;

}

.image-queen {
    width: 100%;
    height: auto;
    z-index: 0;
    max-width: 240px;
    max-height: 258px;

}
.renaissance__title {
    text-align: center;
    font-style: italic;
    font-family: "Bacasime Antique", serif;
    color: var( --title__color);
    font-size: 49px;
    font-weight: 400;


}
.period-of-renissance {
    text-align: center;
    color: var(--descriptive__color__most-hilight);
    font-size: 13px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    padding: 0 10px;
}
.we-strive {
    text-align: center;
    color: var(--descriptive__color);
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    padding: 0 15px;
    margin-top: 15px ;
    

}
.online-guide {
    color: var(--poor__white__color);
    font-family: "Antic Didone", serif;
    font-weight: 400px;
    font-size: 12px;
}
.line-with-star {
    display: none;
}
.beauty-renaissance {
    display: none;
}