.header__nav {
    padding: 24px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo {
    width: 125px;
}

.header__menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__menu a {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.59);
    font-weight: 400;
    margin-bottom: 5px;
}

.header__social {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.header__social a {
    text-decoration: none;
    fill: rgb(234, 177, 86);
}

@media (min-width: 992px) {
    .nav-container {
        flex-direction: row;
        align-items: center;
    }

    .header__menu {
        flex-direction: row;
        flex: 0.5;
    }
}