.header__nav {
    /* background-color: #241a0d; */
    padding: 20px 40px 20px 40px;
}

.header__logo {
    width: 125px;
}

.header__menu a {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.59);
    font-weight: 400;
}
.header__social a {
    text-decoration: none;
    fill: rgb(234, 177, 86);
}
