.hero {
    padding: 20px;
}

.hero-container {
    /* display: flex; */
}

.hero__italic-subtitle {
    color: var(--descriptive__color);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;

}

.hero__title {
    color: var(--title__color__higlight);
    font-family: "Bacasime Antique", serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 30px;

}

.hero__title-beauty {
    color: var(--title__color);
    font-style: italic;
}

.hero__title-time {
    color: var(--white__color);
    font-style: italic;
}

.hero__divider {
    width: 142px;
    margin: 15px 0 15px 0;
}

.hero__text {
    color: var(--semi-transparent-white);
    font-family: "Bacasime Antique", serif;
    text-align: justify;
    font-size: 17px;
    letter-spacing: normal;
}

.button__learn-more {
    width: 116px;
    border: 1px solid var(--button__color);
    color: var(--button__color);
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.button__learn-more:hover {

    background-color: var(--button__color);
    color: var(--white__color);
    transition: 0.5s;
}

.hero__angels-wrapper {
    margin-top: 40px;
}

.angels__border-for-picture {
    max-width: 373px;
    padding: 15px;
    border: 3px solid var(--border__angel-color);
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

.angels__video-circle-container {
    display: flex;
}

.angels__video-in-circle {
    max-width: 89px;
    bottom: 30px;
    right: 5px;
    position: relative;

}

.angels__video-circle-text {
    margin-top: 10px;
    margin-left: 25px;
}

.angels__video-guide {
    color: var(--white__color);
    font-family: 'Antic Didone', serif;
    font-size: 12px;
    font-weight: 400;
}

.angels__video-circle-text p {
    font-size: 12px;
}

.hero__woman-wrapper {
    margin-top: 40px;
    position: relative;

}

.angels__thinking-woman {
    max-width: 186px;
    position: relative;
    z-index: 10;

}

.angels__star-behind-woman {
    opacity: 0.1;
    width: 129px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
}

.angels__bottom-text {
    margin-top: 20px;

}

.angels__title {
    color: var(--title__color);
    font-family: "Bacasime Antique", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.angels__year {
    font-family: "Bacasime Antique", serif;
    color: var(--white__color);
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    bottom: 85px;
    right: 10px;
    z-index: 15;
}
.left {
    margin-top: 20px;
    display: flex;
}

.left__exhibitions-link {
    font-family: "Bacasime Antique", serif;
    color: var(--title__color__higlight);
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.left__arrow-picture {
    width: 15px;
    margin: auto 15px;
}

.right__single-star {
    width: 15px;
}

.right__link {
    font-family: 'Antic Didone', serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--semi-transparent-white);
}
