.hero {
    padding: 20px;
}

.hero__italic-subtitle {
    color: var(--descriptive__color);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;

}

.hero__title {
    color: var(--title__color__higlight);
    font-family: "Bacasime Antique", serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 30px;
 
}

.hero__title-beauty {
    color: var(--title__color);
    font-style: italic;

    
}

.hero__title-time {
    color: var(--white__color);
    font-style: italic;
}

.hero__divider {
    width: 142px;
    margin: 15px 0 15px 0;
}

.hero__text {
    color: var(--semi-transparent-white);
    font-family: "Bacasime Antique", serif;
    text-align: justify;
    font-size: 17px;
    letter-spacing: normal;
    max-width: 272px;
}

.button__learn-more {
    width: 116px;
    border: 1px solid var(--button__color);
    color: var(--button__color);
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.button__learn-more:hover {

    background-color: var(--button__color);
    color: var(--white__color);
    transition: 0.5s;
}

.hero__angels-wrapper {
    margin-top: 40px;
}

.angels__border-for-picture {
    max-width: 373px;
    padding: 15px;
    border: 3px solid var(--border__angel-color);
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

.angels__video-circle-container {
    display: flex;
}

.angels__video-in-circle {
    max-width: 89px;
    bottom: 30px;
    right: 5px;
    position: relative;

}

.angels__video-circle-text {
    margin-top: 10px;
    margin-left: 25px;
}

.angels__video-guide {
    color: var(--white__color);
    font-family: 'Antic Didone', serif;
    font-size: 12px;
    font-weight: 400;
}

.angels__video-circle-text p {
    font-size: 12px;
    margin-top: 5px;
}

.hero__woman-wrapper {
    margin-top: 40px;
    max-width: 280px;
    position: relative;
    right: 35px;
}
.hero__woman-with-items {
    position: relative;
    max-width: 186px;
}
.angels__thinking-woman {
    position: relative;
    z-index: 10;

}

.angels__star-behind-woman {
    opacity: 0.1;
    width: 129px;
    position: absolute;
    top: 20px;
    right: -90px;
    z-index: 5;
}
.angels__year {
    font-family: "Bacasime Antique", serif;
    color: var(--white__color);
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    bottom: 40px;
    right: -82px;
    z-index: 15;
}
.angels__bottom-text {
    margin-top: 20px;

}

.angels__bottom-text p {
    margin-top: 5px;
}

.angels__title {
    color: var(--title__color);
    font-family: "Bacasime Antique", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.hero__exhibitions {
    margin-top: 30px;
}

.left {
    margin-top: 30px;
    display: flex;
}

.left__exhibitions-link {
    font-family: "Bacasime Antique", serif;
    color: var(--title__color__higlight);
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.left__arrow-picture {
    width: 15px;
    margin: auto 15px;
}
.right {
    max-width: 272px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.right__single-star {
    width: 15px;

}

.right__link {
    font-family: 'Antic Didone', serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--semi-transparent-white);
}


@media (min-width:780px) {
    .hero__title {
        font-size: 76px;
    }
    .hero__text {
        max-width: 432px;
    }
    .hero-container {
        position: relative;

    }
    .hero__woman-wrapper {
        position: absolute;
        top: 80px;
        right: -35px;

    }
    .angels__thinking-woman {
        width: 260px;
    }
    .angels__star-behind-woman {
        min-width: 202px;
        right: 195px;
        top: 175px;
    }
    .angels__year {
        left: -70px;
        bottom: 135px;
        font-size: 52px;
        width: 150px;
    }
   
    .angels__title .angels__subtitle{
        position: absolute;
        left: 10px;
    }
    .angels__video-in-circle {
        max-width: 135px;
        bottom: 300px;
        left: 320px;
        position: absolute;
    }
    .angels__video-circle-text {
        bottom: 345px;
        left: 450px;
        position: absolute;
    }
    .angels__bottom-text {
        position: relative;  
        top: 125px; 
        right: 25px; 
        /* font-size: 17px; */
    }
    .angels__bottom-text h3 {
        font-size: 28px;
    }
    .right {
        position: absolute;
        bottom: 160px;
        right: 70px;
        width: 200px;
    }
    /* change POSITION */
    .left {
        position: absolute;
        bottom: 47px;
        right: 100px;
        font-size: 28px;
    }
    .hero__exhibitions {
        position: relative;
    }
}

@media (min-width: 1024px) {
    .hero-container {
        display: flex;
    }
    .hero__title {
        position: relative;
        z-index: 2;
    }
    .hero__text {
        width: 250px;
        margin-top: 30px;
    }
    .button__learn-more {
        margin-top: 30px;
    }
    .angels__border-for-picture {
        width: 330px;
        position: absolute;
        top: 195px;
        left: 330px;
        z-index: 1;
    }
    .angels__video-in-circle {
        bottom: -140px;
        left: 260px;
        z-index: 10;
    }
    .angels__video-circle-text {
        bottom: -125px;
        left: 390px;
    }
    .angels__thinking-woman {
        width: 235px;
        bottom: 50px;
    }
    .angels__star-behind-woman {
        width: 150px;
        top: -135px;
        right: 185px;
    }
    .angels__year {
        top: 150px;
    }
    .angels__bottom-text {
        position: relative;
        top: -88px;
    }
    .left,
    .right {
        position: static;
    }
    .hero__exhibitions {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 185px;
        justify-content: space-between;
        align-items: baseline;
    }
}
@media (min-width: 1200px) {
    .angels__border-for-picture {
        width: 383px;
    }
    .angels__video-in-circle {
        width: 383px;
        bottom: -205px;
    }
    .angels__video-circle-text {
        bottom: -184px;
    }
    .angels__thinking-woman {
        width: 300px;
        bottom: 40px;
        right: 25px;
    }
    .angels__star-behind-woman {
        top: -100px;
        left: -145px;
    }
    .angels__year {
        top: 240px;
        font-size: 80px;
        left: -125px;
    }
    .angels__bottom-text {
        top: -70px;
        right: 50px;
    }
    .hero__exhibitions {
        margin-top: 250px;
    }
}