@media (min-width: 768px){
    .container h2, p{
        font-weight: 400;
    }
    .bottom-page h2, p{
        font-weight: 400;
    }
    .central__box{
        display: grid;
        justify-content: end;
        grid-template-columns: 11% 46% 44% 0%;

    }
    .right__sidebar{
        justify-self: self-end;
        align-self: center;
        grid-column-start: auto;
        grid-column-start: 3;
        grid-column-end: auto;
    }
    .lady__red-ribbon{
        max-width: 450px;
        max-height: 490px;
        justify-self: center;
        align-self: center;
        grid-column-start: 2;
    }
    .speaker__name{
        display: grid;
        justify-content: center;
        align-self: end;
        grid-column-start: -4;
        grid-column-end: -5;
        grid-row-start: 4;
        grid-row-end: 1;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
    }
    .star__stick{
        display: grid !important;
        justify-self: center;
        align-self: center;
        grid-column-start: 2;
        grid-column-end: -5;
        grid-row-start: 5;
        grid-row-end: 2;
        font-weight: bold;
    }
    .hilight__star{
        display: grid;
        align-self: center;
        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        font-weight: bold;
        justify-self: center;
    }
    .sleeping-princess{
        z-index: 0;
        display: block !important;
    }
    .ticket__item{
        position: absolute;
        margin-top: 155px;
    }
    .small__sleeping-princess{
        display: none !important;
    }
    .top-right__arrow{
        max-width: 33px !important;
        max-height: 33px !important;
        margin-left: 0px !important;
    }
    .accordion-button{
        border-bottom: 1px solid #9f7647;
    }
}
@media (min-width: 768px){
    .accordion-button{
        font-size: 28px !important;
    }
    .ask__title{
        font-size: 51px !important;
    }
    .ticket__text{
        font-size: 76px !important;
        font-size: 76px !important;
        display: grid;
        grid-column-start: 2;
        grid-row-start: 3;
        font-family: 'Bacasime Antique', serif;
    }
}
@media  (min-width: 992px){
    .ask__title { 
        font-size: 62px !important;
    }
    .accordion-button{
        font-size: 32px !important;
    }
    .ticket__text{
        font-size: 92px !important;
    }
}
@media  (max-width: 768px){
    .star__stick{
        display: none;
    }
    .ticket__text{
        transform: scale(0.7)
    }
}
@media (min-width: 768px){
    .bottom-page{
    max-width: 1200px;
    margin: auto;
    }
    .background__image{
        max-width: 100%;
        margin: 0;
    }
}
