@media (min-width: 768px){
    .permanent-exhibition-container{
        grid-template-columns: 27% 46% 1fr;
        grid-template-rows: 24% 1fr 10%;
    }
    .permanent-welcome-title{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 76px;
    }
    .conf__ledy{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 20px 10px;
    }
    .beyond__desription {
        grid-column-start: 3;
        grid-row-start: 2;
        justify-self: center;
        align-self: center;
        text-align: start;
    }
    .eternal__discription{
        justify-self: center;
    }
    .author__name{
        justify-self: center;
    }
    .eternal__discription{
        font-size: 28px;
    }
    .permanent-discription-column{
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        justify-content: end;
        margin-top: 50px;
    }
    .permanent-discription-column{
        display: grid;
        font-family: "Work Sans", sans-serif;
        font-size: 17px;
        color: var(--descriptive__color__hilight);
        font-weight: 400;
    }
    .permanent-firstdiscription-column{
        color: var(--descriptive__color__most-hilight);
        font-weight: 700;
        justify-self: center;
        padding-right: 20px;
    }
    .permanent-seconddiscription-column{
        grid-column-start: 1;
        justify-self: center;
        padding-right: 20px;
    }
    .permanent-thirddiscription-column{
        grid-column-start: 2;
        grid-row-start: 1;
        padding-left: 20px;
        align-self: end;
    }
    .permanent-fourthdiscription-column{
        padding-left: 20px;
        align-self: end;
    }
    .permanent-embrace__title{
        font-size: 51px;
    }
}
@media (min-width: 992px){
    .permanent-welcome-title{
        font-size: 92px;
    }
    .eternal__discription{
        font-size: 32px;
    }
    .author__name{
        font-size: 15px;
    }
    .permanent-embrace__title{
        font-size: 62px;
    }
}
@media (min-width: 450px){
    .permanent-discription-column{
        display: grid;
        grid-template-columns: 61%;
        justify-content: center;
        text-align: justify;
    }
}